
.effect input[type="range"] {
    max-width: 70%;
}

input[type="range"] {
    -webkit-appearance: none;
    height: 1vh;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    transition: background 0.3s;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    cursor: pointer;
    width: 100%;
}

input[type="range"]:hover {
    background: #ccc;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    /*width: 10px;*/
    height: 3vh;
    /*height: 1%;*/
    aspect-ratio: 0.5;
    background: #c2a38f;
    border-radius: 3px;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #957d6f;
}

input[type="range"]::-webkit-slider-thumb:active {
    background: #67554a;
}





input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 3vh;
    /*height: 1%;*/
    aspect-ratio: 0.5;
    background: #c2a38f;
    border-radius: 3px;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="range"]::-moz-range-thumb:hover {
    background: #ccc;
}
input[type="range"]::-moz-range-thumb:active {
    background: #67554a;
}



input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    appearance: none;
    /*width: 10px;*/
    height: 3vh;
    /*height: 1%;*/
    aspect-ratio: 0.5;
    background: #c2a38f;
    border-radius: 3px;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="range"]::-ms-thumb:hover {
    background: #957d6f;
}
input[type="range"]::-ms-thumb:active {
    background: #67554a;
}
